:root {
  --orange: rgb(201, 95, 9);
  --aqua: #00ffff;
}

body {
  background-image: url(https://images.photowall.com/products/49098/tree-of-four-seasons.jpg?h=699&q=85);
  background-size: cover;
  background-position: center;
}

h1 {
  color: black;
  margin-top: 0%;
  font-size: 800%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: underline;
}


 footer {
  background-color: var(--orange);
  border-radius: 0.75rem;
  width: 680px;
  margin-top: 900px;
  margin-left: 32px;
}

.citycard {
  width: fit-content;
  margin-left: 32px;
  padding: 16px;
  border-radius: 0.75rem;
  background-color: var(--orange);
}

.datacard {
  background-color: var(--orange);
  border-radius: 0.75rem;
  margin: 32px;
}
