body {
  background-image: url(https://images.photowall.com/products/49098/tree-of-four-seasons.jpg?h=699&q=85);
  background-size: cover;
  background-position: center;
}

h1 {
  color: black;
  margin-top: 0%;
  font-size: 500%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p, b {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  background-color: hotpink;
  color: white;
  border-radius: 0.75rem;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center; 
  width: 680px;
  height: auto;
  font-weight: bold;
  margin-top: 1000px;
}

.citycard {
  width: fit-content;
  margin-left: 20px;
  padding: 12px;
  border-radius: 0.75rem;
  background-color: hotpink;
}

.datacard {
  background-color: aqua;
  border-radius: 0.75rem;
}